<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <ul>
          <% if(cartProducts.length > 0) { %>
            <% for (cartProduct of cartProducts) { %>
                <li class="cart-item">
                  <p><%= cartProduct.productId.title %></p>
                  <span>Quantity: <%= cartProduct.quantity %></span>
                  <form action="/cart-delete-item" method="POST">
                    <input type="hidden" name="productId" value="<%= cartProduct.productId._id %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <button class="btn danger" type="submit">Delete</button>
                  </form>
                </li>
              <% } %>
            </ul>
            <div class="centered">
              <form action="/create-order" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button class="btn" type="submit">Order Now!</button>
              </form>
            </div>
          <% } else { %>
            <h1>No products in Cart</h1>
          <% }%>
      
  </main>
    <%- include('../includes/end.ejs') %>
